@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css?family=Glass%20Antiqua');
@import url('https://fonts.googleapis.com/css?family=Averia%20Serif%20Libre');

html {
    height: 100%;
    padding: 0;
    margin: 0;
    scrolling: no;
}
body {
    overflow: hidden; /*hide scrolling*/
    scrolling: no;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
}
#sparkles {
    overflow: hidden; /*hide scrolling*/
    scrolling: no;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent;
    position: absolute;
    color: #000000;
    font-size: 30px;
    font-family: 'Lucida Console';
    text-align: center;
    z-index: -1;
    vertical-align: middle;
    line-height: 100%;
}
div.section {
    width: 100%; 
    height: 100%;
    background-color: transparent;
}
div.panel {
    width: 100%;
    height: auto;
}
div.box {
    width: 200px;
    height: 150px;
    display: inline-block;
    border-style: dashed;
    border-width: 5px;
    border-color: #001200;
    margin: 7px;
    border-radius: 5px;
    font-size: 3em;
    font-family: 'Glass Antiqua';
    font-weight: bold;
    text-shadow: 0 0 0.15em black;
    text-align: center;
    color: white;
    vertical-align: middle;
    line-height: 100%;
    opacity: 0.8;
}
div.box:hover {
    border-style: dotted;
    border-color: #FAAADB;
    text-shadow: 0 0 0.1em #FFFFFF, 0 0 1em #FF2040;
    color: black;
}
div.text {
    width: 50%;
    color: #FFFFFF;
    padding: 30px;
    font-family: 'Averia Serif Libre', 'Arial', 'sans-serif';
    font-size: 18px;
}
div.side-menu {
    width: 60px;
    height: 40px;
    border-style: dashed;
    border-width: 3px;
    border-color: #001200;
    margin: 7px;
    border-radius: 5px;
    font-size: 1.1em;
    font-family: 'Glass Antiqua';
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 0 0.15em #000000;
    text-align: center;
    color: #FFFFFF;
    vertical-align: middle;
    line-height: 100%;
}
div.side-menu:hover {
    border-style: dotted;
    border-width: 3px;
    border-color: #FAAADB;
}
#menu {
    position: fixed; /* or absolute */
    top: 0;
    left: 0;
    width: 100%:
    background: none;
}
a {
    text-decoration: none;
    color: #FF6699;
}
a.tab {
    target="_blank";
    text-decoration: none;
}

/* Text */
h1 { /* TODO: actually use this */
    font-size: 40px;
    font-family: 'Tangerine';
    line-height: 110%;
    margin-bottom: 0;
    margin-top: 0;
}
h2 {
    font-size: 3em;
    font-style:bold;
    font-family: 'Glass Antiqua';
    line-height: 78%;
    margin-bottom: 0;
    paddig-bottom: 10px;
    text-shadow: 0 0 0.3em #FFFFFF;
}
p, li {
    font-size: 1em;
    font-family: 'Averia Serif Libre';
    color: #FFFFFF;
}

/* Other */
img {
    border-style: dashed;
    border-width: 5px;
    border-color: #001200;
    margin: 7px;
    border-radius: 5px;
}
img:hover {
    border-style: dotted;
    border-width: 5px;
    border-color: #FAAADB;
    margin: 7px;
    border-radius: 5px;
}

table {
    display: in-line;
}